{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Online digital nutritionist for internet businesses - 4eat</title>

    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="4eat is the ultimate API that digitizes the nutritionist to integrate into online businesses of all sizes, 
    including food delivery, fitness platforms, wearables, meal kits or e-commerces. Improve your users' health with nutrition through 4eat, taking advantage of the services your business offers.">
    <link rel="canonical" href="https://4eat.io">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">


    <!-- Style Sheet -->
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="assets/css/responsive.css">

</head>

<body>
    <div class="main_wrapper">
        <!-- Header Start -->
        <div class="header_wrapper">
            <header>
                <div class="container">
                    <div class="header_block">
                        <div class="logo_hold">
                            <a href="../"><img src="assets/images/logo.svg" alt="logo"></a>
                        </div>
                        <div class="menu_wrapper">
                            <div class="menu_block">
                                <ul>
                                    <li><a href="../use-cases/">Use Cases</a></li>
                                    <li><a href="../pricing/">Pricing</a></li>
                                    <li><a href="../blog/">Blog</a></li>
                                </ul>
                            </div>
                            <div class="signup_btn_block">
                                <a href="mailto:sergio@4eat.io" class="signup_btn">Contact us</a>
                            </div>
                        </div>
                        <div class="menu_toggle_btn">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </header>
        </div>
        <!-- Header End -->

        <!-- Main Content Start -->
        <div class="main_content">
            <div class="home_banner_section">
                <div class="container">
                    <div class="home_banner_content">
                        <div class="home_banner_title">
                            <h1>Digital <span>Nutritionist</span> infrastructure for the internet</h1>
                        </div>
                        <div class="common_desc">
                            <p>Transform your business by improving your users' health through 4eat API. Expand functionalities and add recurrence in your platform by using our services, that is used by several businesses of all sizes – from startups to
                                large enterprises – to add value into their platforms.
                            </p>
                        </div>
                        <div class="section_btn">
                            <a href="../use-cases/" class="common_btn">
                                See more
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </a>
                            <a class="contact_sale_btn" href="mailto:sergio@4eat.io">Contact sales   <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="home_banner_img">
                    <img src="assets/images/main.svg" alt="img">
                </div>
            </div>

            <div class="backed_by_nutritionists_section">
                <div class="container">
                    <div class="backed_by_block">
                        <div class="section_common_label">
                            <p>Backed by Nutritionists</p>
                        </div>
                        <div class="section_common_title">
                            <h2>White-label digital nutritionist to go beyond health</h2>
                        </div>

                        <div class="common_desc">
                            <p>Our algorithms are developed <span>based on the nutritional logic of our nutritionists, and tested in clinical practice with real patients</span>. We allow you to integrate nutrition services into your service in a simple way,
                                as if a nutritionist were accompanying your users at all times. Use your available meal offer and/or your users' physical activity and health data to add value to your platform.</p>
                            <p>We help companies <span>add value to their services while improving the health of their customers through nutrition.</span> Happy customers are healthy customers. We are <span>committed to bringing the role of the nutritionist closer to the new trends of the market</span>,
                                such as delivery, wearables, dark kitchens or fitness platforms.</p>
                        </div>
                        <div class="section_btn">
                            <a href="../resources/nutrition-insights/" class="common_btn">
                                How we do it
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    <div class="backed_by_image_block">
                        <img src="assets/images/Group.svg" alt="img">
                    </div>
                </div>
            </div>

            <div class="the_best_and_section">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="the_best_and_content">
                                <div class="section_common_title">
                                    <h2>The best and easy-to-use Nutrition API</h2>
                                </div>
                                <div class="common_desc">
                                    <p>We are obsessed with making the difficult easy, so our documentation is designed to simplify your integration. </p>
                                    <p>We focus on the most common use cases, looking for the fast integration in them. 4eat is for ambitious companies around the world, looking to build the future by thinking about improving the lives of their users.</p>
                                </div>
                                <div class="section_btn">
                                    <a href="mailto:sergio@4eat.io?subject=I would like to read 4eat documentation" class="common_btn">
                                        Read the docs
                                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                                    </a>
                                </div>

                                <div class="tools_stack_block">
                                    <ul>
                                        <li>
                                            <div class="tools_stack_content">
                                                <div class="tools_ic">
                                                    <img src="assets/images/tools_ic1.svg" alt="icon">
                                                </div>
                                                <div class="tools_stack_title">
                                                    <h4>Easily adaptable</h4>
                                                </div>
                                                <div class="common_desc">
                                                    <p>We develop our API so you are free to decide how to deliver our technology in our service.</p>
                                                </div>
                                                <div class="section_btn">
                                                    <a class="contact_sale_btn" href="mailto:sergio@4eat.io?subject=I want to try 4eat!">Start now   <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tools_stack_content">
                                                <div class="tools_ic">
                                                    <img src="assets/images/tools_ic2.svg" alt="icon">
                                                </div>
                                                <div class="tools_stack_title">
                                                    <h4>Prebuilt integrations</h4>
                                                </div>
                                                <div class="common_desc">
                                                    <p>Our service is designed to facilitate the use cases we want to transform, through an architecture that makes it easier to do so.</p>
                                                </div>
                                                <div class="section_btn">
                                                    <a class="contact_sale_btn" href="../use-cases/">Explore use cases   <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="eaditor_image">
                                <img src="assets/images/code-example.svg" alt="img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Multi Service Section Start -->
            <div class="multi_service_section">
                <div class="container">
                    <div class="multi_service_inner">
                        <div class="multi_service_slider_outer">
                            <div class="multi_service_left">
                                <div class="multi_service_titles">
                                    <div class="section_common_label">
                                        <p>Use Cases</p>
                                    </div>
                                    <div class="section_common_title">
                                        <h2>A multi-service platform</h2>
                                    </div>
                                    <p class="info">See the different use cases in which 4eat API is already adding value for customers</p>
                                </div>
                                <div class="multi_service_slider owl-carousel">
                                    <div class="item open">
                                        <div class="multi_service_itembox">
                                            <div class="cycle_boy_imag">
                                                <img src="assets/images/rider.svg" alt="cycle">
                                            </div>
                                            <div class="cycle_boy_text">
                                                <h4>Food Delivery</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="multi_service_itembox">
                                            <div class="cycle_boy_imag">
                                                <img src="assets/images/stationary-bicycles.svg" alt="cycle">
                                            </div>
                                            <div class="cycle_boy_text">
                                                <h4>Fitness Platforms</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="multi_service_itembox">
                                            <div class="cycle_boy_imag">
                                                <img src="assets/images/wearables.svg" alt="cycle">
                                            </div>
                                            <div class="cycle_boy_text">
                                                <h4>Wearables</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="multi_service_itembox">
                                            <div class="cycle_boy_imag">
                                                <img src="assets/images/meal-kits.svg" alt="cycle">
                                            </div>
                                            <div class="cycle_boy_text">
                                                <h4>Meal Kits</h4>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="content_block">
                                    <div class="tab1 tab active">
                                        <div class="easy_use_block">
                                            <div class="easy_use_title">
                                                <div class="easy_use_image">
                                                    <img src="assets/images/kitchen.svg" alt="easy">
                                                </div>
                                                <div class="easy_use_heading">
                                                    <h5>Build the Next Generation</h5>
                                                </div>
                                            </div>
                                            <div class="easy_use_paragraph">
                                                <p> Next-generation food delivery is all about improving the lives of its users by helping them eat better. Add a differentiator from your competition with our integrated nutritionist. Let your users take care
                                                    of their health with your entire offer.</p>
                                            </div>
                                        </div>
                                        <div class="easy_use_block">
                                            <div class="easy_use_title">
                                                <div class="easy_use_image">
                                                    <img src="assets/images/kitchen2.svg" alt="easy">
                                                </div>
                                                <div class="easy_use_heading">
                                                    <h5>Expand your margins</h5>
                                                </div>
                                            </div>
                                            <div class="easy_use_paragraph">
                                                <p> With our API, you will be able to increase the average number of orders per month per user and increase your margins with the subscription model. In addition to offering a transversal service, you will be
                                                    able to make a leap in the stickiness of your service!</p>
                                            </div>
                                        </div>
                                        <div class="tab_block_btn">
                                            <a href="../use-cases/food-delivery/" class="common_btn">
                                                See more
                                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="tab2 tab">
                                        <div class="easy_use_block">
                                            <div class="easy_use_title">
                                                <div class="easy_use_image">
                                                    <img src="assets/images/kitchen2.svg" alt="easy">
                                                </div>
                                                <div class="easy_use_heading">
                                                    <h5>Leverage your Data</h5>
                                                </div>
                                            </div>
                                            <div class="easy_use_paragraph">
                                                <p>Take advantage of your user retention adding the nutrition service and get the most of the data generated on your platform. Build the future of Fitness Platforms.</p>
                                            </div>
                                        </div>
                                        <div class="easy_use_block">
                                            <div class="easy_use_title">
                                                <div class="easy_use_image">
                                                    <img src="assets/images/kitchen.svg" alt="easy">
                                                </div>
                                                <div class="easy_use_heading">
                                                    <h5>Expand your Margins</h5>
                                                </div>
                                            </div>
                                            <div class="easy_use_paragraph">
                                                <p>Include nutrition service in your subscription packages and expand your revenue. Integrate the nutrition service with your platform's physical activity data. </p>
                                            </div>
                                        </div>
                                        <div class="tab_block_btn">
                                            <a href="../use-cases/" class="common_btn">
                                                See more
                                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="tab3 tab">
                                        <div class="easy_use_block">
                                            <div class="easy_use_title">
                                                <div class="easy_use_image">
                                                    <img src="assets/images/kitchen.svg" alt="easy">
                                                </div>
                                                <div class="easy_use_heading">
                                                    <h5>Connect with your users' lives</h5>
                                                </div>
                                            </div>
                                            <div class="easy_use_paragraph">
                                                <p>Use your real-time data of your users' lives to adapt their nutrition to their reality. We help you provide a dynamic nutrition service based on your inputs.</p>
                                            </div>
                                        </div>
                                        <div class="easy_use_block">
                                            <div class="easy_use_title">
                                                <div class="easy_use_image">
                                                    <img src="assets/images/kitchen2.svg" alt="easy">
                                                </div>
                                                <div class="easy_use_heading">
                                                    <h5>Add extra value</h5>
                                                </div>
                                            </div>
                                            <div class="easy_use_paragraph">
                                                <p>Provide additional value to your users to expand your margins and increase the stickiness of your devices. Lead the next generation of wearables.</p>
                                            </div>
                                        </div>
                                        <div class="tab_block_btn">
                                            <a href="../use-cases/" class="common_btn">
                                                See more
                                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="tab4 tab">
                                        <div class="easy_use_block">
                                            <div class="easy_use_title">
                                                <div class="easy_use_image">
                                                    <img src="assets/images/kitchen2.svg" alt="easy">
                                                </div>
                                                <div class="easy_use_heading">
                                                    <h5>Boost Interaction</h5>
                                                </div>
                                            </div>
                                            <div class="easy_use_paragraph">
                                                <p>Get the most out of your products by interacting with your users on a daily basis, optimizing their diet by considering what they eat on a daily basis and adapting better to their needs.</p>
                                            </div>
                                        </div>
                                        <div class="easy_use_block">
                                            <div class="easy_use_title">
                                                <div class="easy_use_image">
                                                    <img src="assets/images/kitchen.svg" alt="easy">
                                                </div>
                                                <div class="easy_use_heading">
                                                    <h5>Add more value</h5>
                                                </div>
                                            </div>
                                            <div class="easy_use_paragraph">
                                                <p>Expand your margins on your subscriptions by adding value with the automated nutritionist service and generate more interaction and connection with your users, knowing their day to day life.</p>
                                            </div>
                                        </div>
                                        <div class="tab_block_btn">
                                            <a href="../use-cases/" class="common_btn">
                                                See more
                                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="content_image_block">
                                <div class="slider_image_block">
                                    <div class="slider_image active">
                                        <img src="assets/images/food-delivery.svg" alt="images">
                                    </div>
                                    <div class="slider_image">
                                        <img src="assets/images/thread-fitness.svg" alt="images">
                                    </div>
                                    <div class="slider_image">
                                        <img src="assets/images/wearable-main.svg" alt="images">
                                    </div>
                                    <div class="slider_image">
                                        <img src="assets/images/meal-kits-main.svg" alt="images">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Multi Service Section End -->

        </div>
        <!-- Main Content End -->

        <!-- Footer Start -->
        <div class="footer_wrapper">
            <footer>
                <div class="container">
                    <div class="footer_block">
                        <div class="footer_left">
                            <div class="footer_logo">
                                <a href="index.html">
                                    <img src="assets/images/footer_logo.svg" alt="footer_logo">
                                </a>
                            </div>
                        </div>
                        <div class="footer_right">
                            <div class="footer_col">
                                <h3>Use Cases</h3>
                                <ul class="">
                                    <li> <a href="../use-cases/food-delivery/"> Delivery Platforms</a></li>
                                    <li> <a href="../use-cases/food-delivery/"> Grocery Platforms</a></li>
                                    <li> <a href="../use-cases/"> Fitness Platforms</a></li>
                                    <li> <a href="../use-cases/"> Wearables</a></li>
                                    <li> <a href="../use-cases/"> Meal Kits</a></li>
                                </ul>
                            </div>
                            <div class="footer_col">
                                <h3>Resources</h3>
                                <ul class="">
                                    <li> <a href="mailto:sergio@4eat.io"> Support</a></li>
                                    <li> <a href="mailto:sergio@4eat.io"> Contact</a></li>
                                    <li> <a href="../privacy/"> Privacy & Terms</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="copyright">
                        <p>© 4eat</p>
                    </div>
                </div>
            </footer>
        </div>
        <!-- Footer End -->

    </div>


    <script src="assets/js/jquery3.5.1.min.js"></script>
    <script src="assets/js/bootstrap.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="assets/js/custom.js"></script>


    <script>
        //Slider Js
        $('.multi_service_slider.owl-carousel').owlCarousel({
            loop: false,
            margin: 25,
            stagePadding: 25,
            nav: false,
            singleItem: true,
            responsive: {
                0: {
                    items: 2
                },
                450: {
                    items: 3
                },
                600: {
                    items: 3
                },
                1200: {
                    items: 4
                }
            }
        })

        $('.multi_service_slider .item').click(function() {
            $(this).parent().siblings().find('.item').removeClass('open');
            $(this).addClass('open');
            var index_number = $(".multi_service_slider .item").index(this);
            $('.content_block .tab, .slider_image_block .slider_image').removeClass('active');
            $('.content_block .tab').eq(index_number).addClass('active');
            $('.slider_image_block .slider_image').eq(index_number).addClass('active');
        })
    </script>
</body>

</html>